@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  .h1 {
    font-size: clamp(3.75rem, -0.9375rem + 15vw, 7.5rem);
    line-height: 1;
    font-weight: 600;
  }

  h2,
  .h2 {
    font-size: clamp(2.1875rem, 1.0156rem + 3.75vw, 3.125rem);
    line-height: 1.15;
    font-weight: 600;
  }

  h3,
  .h3 {
    font-size: clamp(1.5625rem, 1.1719rem + 1.25vw, 1.875rem);
    line-height: 1.15;
    font-weight: 700;
  }
}
